*{
  margin: 0;
  padding: 0;
}

li, ul, a{
  list-style: none;
  font: bolder;
  color: black;
  font-weight: bold;
  text-decoration: none;
  
}
 li :hover{
 color: white;
}

.menu-bar{
  background-color: rgb(128, 128, 243);
  position: fixed;
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1150px 30px 10px 50px;
  column-gap: 50px;
  padding-left: 30px;
  z-index: 5;
  
}
.menu-bar div{
  margin-top: 35px;
}
.menu-bar ul {

  list-style: none;

}

.side-bar{
  background-color: cadetblue;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 100px;
  width: 11%;
  z-index: 3;
  padding-top: 3%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-size: larger;

}

.main{
  padding-top: 3%;
  padding-left: 11%;
}

.user-menu{
  position: relative;
  
  
}
.dropdown{
  display: none;
}
.user-menu:hover .dropdown{
  display: block;
  position: absolute;
  top: 5;
  left: -50;
  font-weight: lighter;
}
 .dropdown{}